<template>
    <ul class="chat" style="list-style:none; padding: 15px; background: #F5F5F5;">
        <li class="left clearfix" v-for="message in messages">
            <div class="chat-body clearfix">
                <div class="header">
                    <img :src="'/images/user/'+message.user.avatar+'.jpg'" style="width:50px;">
                    <strong class="primary-font">
                        {{ message.message }}
                    </strong>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['messages']
    };
</script>