.hydra_uploaded_thumbnails {
    max-width: 96px;
    max-height: 150px;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}

.hydra_uploaded_thumbnails canvas {
    max-width: 96px;
    max-height: 150px;
}

.hydra_uploaded_thumbnails:first-of-type {
    width: 100%;
    height: auto;
    margin-top: 0;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    clear: both;
    max-width: none;
    max-height: none;
}

.hydra_uploaded_thumbnails:first-of-type canvas {
    max-width: 100%;
    max-height: none;
}

.hydra-cover input {
    width: 100px;

}

.hydra-cover label {
    display: inline;
}

.hydra-start-end {
    float: right;
    margin-top: -10px;
}

.holiday-day img{
    cursor: pointer;
}

.start {
    cursor: pointer;
}








/* Стили модального окна и содержания
-------------------------------------------------------------------------------*/

/* слой затемнения */

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* активируем модальное окно */

.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */

.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */

.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */

.dm-modal {
    display: inline-block;
    padding: 40px;
    max-width: 50em;
    background: #f5f5f5;
    color: #206bff;
    text-align: left;
}
/* миниатюры изображений */

.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
/* миниатюра справа */

.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* миниатюра слева */

.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}
/* встраиваемое видео в модальном окне */

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* рисуем кнопарь закрытия */

.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #206bff;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;
    opacity: 1;
}
.close:after {
    display: block;
    border: 2px solid #206bff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: 'X';
    color: #206bff;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/* кнопка закрытия при наведении */

.close:hover:after {
    border-color: #206bff;
    color: #206bff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* движуха при появлении блоков с содержанием */

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.dm-modal .select2-selection {
    outline: none;
    text-align: left;
}

.dm-modal .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 44px;
}

.dm-modal .select2-container .select2-selection--single,
.dm-modal .panel-body .select2-container .select2-selection--single,
.dm-modal .aksii-filter .select2-container .select2-selection--single{
    height: 60px;
    border:2px solid #EAEAEA;
    background-color: white;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
    padding: 7px;
    line-height: 60px;
}
.dm-modal .select2-container .select2-selection--single .select2-selection__arrow,
.dm-modal .panel-body .select2-container .select2-selection--single .select2-selection__arrow,
.dm-modal .aksii-filter .select2-container .select2-selection--single .select2-selection__arrow{
    width: 40px;
    height: 60px;
    left: initial;
    top: 0;
    right: 0;
}

.aksii-search-select {
    background-color: #22b069;
    float: none;
    margin-top: 20px;
}

.gifts_add_cat {
    background-color: #22b069;
    float: none!important;
    margin-top: 5px;
}

.dm-modal p {
    text-align: center;
}

.dm-modal a {
    color: #206bff;
}

.login_register .dm-modal{
    background: none;
    padding: 0;
    max-width: none;
}

.hydra_tab {
    width: 220px;
    height: 60px;
    background-color: #22b069;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1px;
    /*padding-left: 38px;*/
    text-align: center;
    padding-top: 21px;
    display: inline-block;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

.hydra_tab_active {
    background-color: #f5f5f5;
    color: #111111;
}

.hydra_login_block {
    background-color: #f5f5f5;
    padding: 40px;
}

.hydra_login p:first-of-type {
    margin-bottom: 30px;
}

.hydra_login p:last-of-type {
    margin: 25px 0 0;
    text-align: left;
    font-size: 18px;
}

.hydra_login_input {
    width: 360px;
    height: 60px;
    font-size: 18px;
    padding: 0 30px;
    color: #000;
    border: none;
    border-radius: 3px;
}

.hydra_register_third .hydra_login_input {
    width: 340px;
    margin-right: 0;
}

.hydra_register_third .hydra_login_input:nth-child(odd) {
    margin-right: 40px;
}

.hydra_login_error {
    border: 1px solid red;
}

.hydra_login_input_left {
    margin-right: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.hydra_login_input_right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.login_submit {
    width: auto;
    padding: 8px 25px;
    float: none;
}

.register_submit {
    width: auto;
    padding: 8px 25px;
    margin-left: 110px;
}

.hydra_register p, .hydra_restore p {
    color: #111111;
    font-size: 18px;
    text-align: left;
}

.hydra_register_second p, .hydra_restore_second p {
    color: #111111;
    font-size: 18px;
    text-align: left;
}

.hydra_register_third p {
    color: #111111;
    font-size: 18px;
    text-align: left;
}

.hydra_wewillsend {
    color: #666;
}

.hydra_register_1_p {
    margin-bottom: 20px;
}

#temp_non_days {
    text-align: center;
}

.dm-modal .holiday-day {
    float: none;
    line-height: 2.5em;
    margin: 0;
}

.just-grey-hydra {
    background-color: #e0e0e0;
}

textarea {
    resize: vertical;
}

.lang a {
    color: #ffffff;
}

.aksii-filter .select2-container .select2-selection--single {
    padding: 0;
    margin-bottom: 0;
}

.aksii-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}

.lang a:hover {
    color: #aaaaaa;
}

.white .lang a {
    color: #3366cc;
}

.white .lang a:hover {
    color: #3490ff;
}

.podarki-cover {
    margin-bottom: 40px;
}

.hydra-like {
    opacity: 0.4;
    cursor: pointer;
}

.hydra-like:hover {
    opacity: 0.8;
}

.hydra-like:active {
    opacity: 0.7;
}

.hydra-liked {
    opacity: 1;
}

.hydra-liked:active {
    opacity: 0.4;
}

.cies:first-of-type {
    border-top: 2px solid #F5F5F5;
}

a:hover {
    text-decoration: underline;
}

a.zayavki-plus:hover{
    color: #96dc28;
}
