@font-face { font-family: 'OpenSans'; src: url("helvetica/HelveticaMedium/HelveticaMedium.ttf"); }
@font-face {
	font-family: 'entypo';
	src:url('../fonts/controls/entypo.eot');
	src:url('../fonts/controls/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/controls/entypo.woff') format('woff'),
		url('../fonts/controls/entypo.ttf') format('truetype'),
		url('../fonts/controls/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}
.b-common-form form .text-input {
    margin-bottom: 2rem;
}
.b-common-form form .textarea-input {
    margin-bottom: 2rem;
    width: 100%;
}
.textarea-input .textarea-inner {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px 3px 15px 20px;
    position: relative;
    height: 10rem;
}
.md-content {
    background-color: #fff;
    padding: 4rem;
}
.b-popup__notification {
    color: #999;font-family: 'OpenSans';
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.submit-input .submit-label {
    cursor: pointer;
    display: inline-block;
    padding: 0 2rem;
    position: relative;
}
.submit-input .submit-label input {
	cursor:pointer;
    background: transparent;
    border: none;
    color: #fff;
    font-family: OpenSans;
    font-size: 1.4rem;
    height: 4rem;
    letter-spacing: .1rem;
    line-height: 4rem;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}
.submit-input .submit-label:before {
    background: #FFC214;
    border-radius: 500px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all .2s ease-out;
}

.submit-input .submit-label._focus:before, .submit-input .submit-label:hover:before {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
@media only screen and (min-width: 768px){
	.b-popup__notification {
		max-width: 42.5rem;
	}
}

.cbp-bislideshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}
.cbp-bicontrols {
    position: absolute;
    width: 840px;
    height: 200px;
    margin: -50px 0 0 -420px;
    top: 40%;
    left: 50%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}
.cbp-bicontrols span {
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}

span.cbp-biplay:before {
	content: "\e002";
}

span.cbp-bipause:before {
	content: "\e003";
}

span.cbp-binext:before {
	content: "\e000";
}

span.cbp-biprev:before {
	content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}
/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
.md-modal {
    position: fixed;
    top: 5rem;
    width: 50%;
    max-width: 505px;
    min-width: 300px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    /* -webkit-backface-visibility: hidden; */
    -moz-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    font-weight: normal;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: none repeat scroll 0 0 rgba(0,0,0,.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */



.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.md-content .container {
    width: 100%;
}
label.text-label {
    width: 100%;
}
.submit-input {
    text-align: center;
}
label.submit-label {
    width: 140px;
}
.md-content .container  input{
border:none;
outline: none;
box-shadow: none;
border-bottom: 1px solid #FFC214;
}
/*@media screen and (max-width: 32em) {*/
	/*body { font-size: 75%; }*/
/*}*/