/** Plain backgrounds: dark-bg, white-bg **/
.mz-expand.plain-bg .mz-expand-bg,
.mz-expand.dark-bg .mz-expand-bg,
.mz-expand.white-bg .mz-expand-bg {
    display: none !important;
}
.mz-expand.dark-bg {
    background-color: #1f1f1f;
    background-color: rgba(31, 31, 31, .96);
}
.mz-expand.white-bg {
    background-color: #fff;
}

/* Expanded view stage */
.mz-expand .mz-expand-stage {
    z-index: 2100000000;
    padding: 0;
}
.mz-expand .mz-expand-stage .mz-image-stage {
    z-index: 50;
    left: 120px;
    right: 120px;
    padding: 20px 0 40px 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    -webkit-perspective: 600px;
            perspective: 600px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.mz-expand .mz-expand-stage.with-thumbs .mz-image-stage {
    padding-bottom: 120px;
}
.mz-expand .mz-expand-stage.mz-zoom-in .mz-image-stage {
    padding: 0 !important;
    left: 0;
    right: 0;
}

.mz-expand .mz-image-stage > figure:before,
.mz-expand .mz-image-stage:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0;
    line-height: 100%;
    width: 0;
}
.mz-expand .mz-image-stage > figure {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 100%;
    position: relative;
}
.mz-expand .mz-figure {
    overflow: visible;
    max-width: 100% !important;
}
.mz-expand .mz-figure > img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.mz-expand .mz-zoom-in .mz-image-stage > figure,
.mz-expand .mz-zoom-in .mz-image-stage > figure .mz-figure.mz-activating,
.mz-expand .mz-zoom-in .mz-image-stage > figure .mz-figure.mz-active {
    width: 100%;
    height: 100%;
}
.mz-expand .mz-figure {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.mz-expand .mz-figure.mz-active {
    cursor: crosshair;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
}
/* When inner zoom is always shown */
.mz-expand .mz-expand-stage.mz-zoom-in.mz-always-zoom .mz-image-stage > figure > figure > img {
    z-index: 1;
    position: absolute !important;
    top: -5000px !important;
    bottom: -5000px !important;
    left: -5000px !important;
    right: -5000px !important;
    margin: auto !important;
}

.lt-ie10-magic .mz-zoom-window.mz-expanded img  { filter: alpha(opacity=100); }
.lt-ie10-magic .mz-expand .mz-figure.mz-magnifier-zoom {
    overflow: hidden;
    filter: alpha(opacity=100);
}


/* Caption in expanded view */
.mz-expand .mz-caption {
    color: #fff;
    text-shadow: 0px 0px 46px #000;
    padding: 10px 4px;
    font: normal 10pt/1em 'Lucida Grande', 'Lucida Sans Unicode', Verdana, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
}
.mz-expand .mz-caption.mz-show {
    -webkit-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
    opacity: 1;
}
.mz-expand .mz-caption a {
    color: inherit;
    cursor: pointer;
}
.mz-expand.white-bg .mz-caption {
    color: #555;
    text-shadow: none;
}

.lt-ie9-magic .mz-expand .mz-caption {
    top: 100%;
}

.mz-expand .mz-zoom-window {
    box-shadow: none;
    background: transparent;
}
.lt-ie9-magic .mz-expand .mz-zoom-window {
    border: 0;
}

/* Expanded view on mobile */
.mobile-magic .mz-expand-stage .mz-expand-thumbnails,
.mobile-magic .mz-expand-stage .mz-image-stage {
    left: 0px;
    right: 0px;
}
.mobile-magic .mz-expand .mz-expand-stage.with-thumbs {
    bottom: 0px;
}
.mobile-magic .mz-expand-stage .mz-image-stage {
    padding: 0;
}
.mobile-magic .mz-expand .mz-expand-stage.with-thumbs .mz-image-stage {
    padding: 5px 0 60px;
}
.mobile-magic .mz-expand .mz-expand-stage.mz-zoom-in .mz-image-stage {
    padding-top: 0;
}
.mobile-magic .mz-expand .mz-expand-thumbnails {
    padding: 0;
    height: 60px;
}


/**
 * Buttons & Arrows
 */
.mz-expand-controls,
button.mz-button {
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
 }
button.mz-button {
    color: #b4b4b4 !important;
    font: 900 34px/1 'magictoolbox-thin' !important;
    cursor: pointer;
    z-index: 90 !important;
    background-color: transparent !important;
    border: 1px solid rgba(180, 180, 180, 0) !important;
    border-radius: 100% !important;
    box-shadow: none !important;
    position: absolute !important;
    text-transform: none !important;
    text-align: center;
    speak: none;
    -webkit-font-smoothing: antialiased;
    width: 60px !important;
    height: 60px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    max-height: none !important;

}
button.mz-button:before {
    display: inline;
    position: static;
    color: inherit !important;
    font: inherit !important;
    -webkit-font-smoothing: inherit !important;
}
button.mz-button.mz-button-prev,
button.mz-button.mz-button-next {
    margin: auto 10px !important;
    top: 0 !important;
    bottom: 0 !important;
    overflow: hidden !important;
}
button.mz-button.mz-button-prev {
    left: 0 !important;
}
button.mz-button.mz-button-next {
    right: 0 !important;
}
button.mz-button.mz-button-close {
    font-size: 26px !important;
    margin: 10px !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 95 !important;
}
:root:not(.mobile-magic) button.mz-button {
    color: rgba(180, 180, 180, .75) !important;
    -webkit-transform: scale(.85) !important;
            transform: scale(.85) !important;
    -webkit-transition: color .25s, border-color .25s, -webkit-transform .25s !important;
            transition: color .25s, border-color .25s, transform .25s !important;

}
:root:not(.mobile-magic) button.mz-button:hover {
    color: rgba(180, 180, 180, 1) !important;
    border-color: rgba(180, 180, 180, .6) !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
}
.mobile-magic button.mz-button {
    -webkit-transition: -webkit-transform .1s !important;
            transition: transform .1s !important;
}
.mobile-magic button.mz-button:active {
    border-color: rgba(180, 180, 180, .6) !important;
    -webkit-transform: scale(.95) !important;
            transform: scale(.95) !important;
}

button.mz-button.mz-button-close:before { content: "\a001"; }
button.mz-button.mz-button-prev:before { content: "\a002";  }
button.mz-button.mz-button-next:before { content: "\a003"; }

@media screen and (max-device-width: 767px) {
    button.mz-button-prev,
    button.mz-button-next {
        display: none !important;
    }

    .mobile-magic .mz-expand button.mz-button {
        width: 44px !important;
        height: 44px !important;
        font-size: 18px !important;
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: rgba(49,51,61,0.3) !important;
        border-color: transparent !important;
    }
}

.lt-ie9-magic button.mz-button {
    border: 0;
    filter: alpha(opacity=75);
}
.lt-ie9-magic button.mz-button:hover {
    filter: alpha(opacity=100);
}


/**
 * Thumbnails
 */

 /* Thumbnails on the page */
a[data-zoom-id],
.mz-thumb, .mz-thumb:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
a[data-zoom-id] img,
.mz-thumb img {
    border: 0;
   // box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.mz-thumb:hover:not(.mz-thumb-selected) img {
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
}
.mz-thumb-selected img {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
}
.no-cssfilters-magic .mz-thumb {
    background: #000;
}
.no-cssfilters-magic .mz-thumb:hover:not(.mz-thumb-selected) img {
    opacity: .75;
    filter: alpha(opacity=75);
}
.no-cssfilters-magic .mz-thumb-selected img {
    opacity: .6;
    filter: alpha(opacity=60);
}
.ie9-magic .mz-thumb img {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

 /* Thumbnails in expanded view */
.mz-expand-thumbnails {
    z-index: 50;
    position: absolute;
    bottom: 0;
    left: 65px;
    right: 65px;
    height: 80px;
    padding: 10px 0;
    box-sizing: border-box;
}
.mz-expand-thumbnails .magic-thumbs .magic-thumb {
    padding: 10px 2px;
}
.mz-expand-thumbnails .magic-thumb > img {
    cursor: pointer;
    height: 40px;
    box-shadow:0 0 5px 1px rgba(0,0,0,0.3);
}
.mz-expand-thumbnails .magic-thumb:not(.magic-thumb-selected) > img:hover {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
}
.mz-expand-thumbnails .magic-thumb-selected img {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
}
.mz-expand-thumbnails .magic-thumbs .magic-thumbs-button {
    box-shadow: none;
}
.mz-expand-thumbnails .magic-thumbs .magic-thumbs-button-disabled {
    opacity: 0;
}
.no-cssfilters-magic .mz-expand-thumbnails .magic-thumb:hover:not(.magic-thumb-selected) img {
    opacity: .7;
    filter: alpha(opacity=70);
}
.no-cssfilters-magic .mz-expand-thumbnails .magic-thumb-selected img {
    opacity: .5;
    filter: alpha(opacity=50);
}

/** Hide thumbnails in expanded view with .no-expand-thumbnails class **/
.mz-expand.no-expand-thumbnails .mz-expand-stage.with-thumbs .mz-image-stage {
    padding-bottom: 40px;
}
.mz-expand.no-expand-thumbnails .mz-expand-thumbnails {
    display: none;
}
.mobile-magic .mz-expand.no-expand-thumbnails .mz-expand-stage.with-thumbs .mz-image-stage {
    padding: 0;
}
.magic-thumbs,
.magic-thumbs .magic-thumbs-wrapper,
.magic-thumbs ul,
.magic-thumbs li,
.magic-thumbs li:before,
.magic-thumbs li:after,
.magic-thumbs li img,
.magic-thumbs .magic-thumbs-button {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.magic-thumbs {
    direction: ltr;
    overflow: visible;
    z-index: 100;
    position: relative;
    left: 0;
    top: 0;
    padding: 0 30px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: none;
        touch-action: none;
}

.magic-thumbs {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.magic-thumbs.no-buttons {
    padding: 0 !important;
}

.magic-thumbs-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.magic-thumbs ul {
    list-style: none;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    white-space: nowrap;
}
.magic-thumbs.no-buttons ul {
    left: 0 !important;
    padding: 0 !important;
    -webkit-transition: none !important;
            transition: none !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
}


.magic-thumbs ul li {
    margin: 0 4px;
    height: 100%;
    width: auto;
    vertical-align: top;
    line-height: 0;
    display: inline-block;
}
.magic-thumbs ul li:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.magic-thumbs ul li > img {
    width: auto;
    height: auto;
    max-width: none !important;
    max-height: 100% !important;
    vertical-align: middle;
}
.ie8-magic .magic-thumbs ul li > img {
    max-width: none !important;
    max-height: none !important;
}

/* vertical */
.magic-thumbs.magic-thumbs-vertical {
    height: 100%;
}
.magic-thumbs-vertical {
    padding: 30px 0;
}
.magic-thumbs-vertical ul {
    height: auto;
    width: 100%;
    white-space: normal;
}
.magic-thumbs-vertical ul li {
    width: 100%;
    height: auto;
}
.magic-thumbs-vertical ul li {
    margin: 4px 0;
}

.magic-thumbs-vertical ul li > img {
    max-width: 100% !important;
    max-height: none !important;
}
.ie8-magic .magic-thumbs-vertical ul li > img {
    width: 100%;
}

/**
 * Buttons
 */
.magic-thumbs button.magic-thumbs-button {
    color: #b4b4b4 !important;
    font: 900 24px/1 'magictoolbox-thin' !important;
    cursor: pointer;
    z-index: 90 !important;
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-image: none;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    overflow: hidden;
    position: absolute;
    text-transform: none !important;
    speak: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: 30px;
    height: 100%;
    top: 0;
    bottom: 0;
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    max-height: none !important;
}
.magic-thumbs button.magic-thumbs-button:before {
    display: inline;
    position: static;
    color: inherit !important;
    font: inherit !important;
    -webkit-font-smoothing: inherit !important;
}
.magic-thumbs .magic-thumbs-button-prev {
    left: 0;
}
.magic-thumbs .magic-thumbs-button-next {
    right: 0;
}
.magic-thumbs .magic-thumbs-button-prev:before { content: "\a002"; }
.magic-thumbs .magic-thumbs-button-next:before { content: "\a003"; }

:root:not(.mobile-magic) .magic-thumbs button.magic-thumbs-button {
    color: rgba(180, 180, 180, .75) !important;
    -webkit-transform: scale(.85) !important;
            transform: scale(.85) !important;
    -webkit-transition: color .25s, -webkit-transform .25s !important;
            transition: color .25s, transform .25s !important;

}
:root:not(.mobile-magic) .magic-thumbs button.magic-thumbs-button:hover {
    color: rgba(180, 180, 180, 1) !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
}


/* Vertical buttons */
.magic-thumbs-vertical .magic-thumbs-button {
    width: 100%;
    height: 30px;
    left: 0; right: 0;
    top: auto; bottom: auto;
}
.magic-thumbs-vertical .magic-thumbs-button-prev {
    top: 0;
}
.magic-thumbs-vertical .magic-thumbs-button-next {
    bottom: 0;
}
.magic-thumbs-vertical .magic-thumbs-button-prev:before { content: "\a005"; }
.magic-thumbs-vertical .magic-thumbs-button-next:before { content: "\a004"; }


.magic-thumbs.no-buttons .magic-thumbs-button {
    display: none !important;
}
.magic-thumbs-button-disabled {
    opacity: 0.2;
    filter: alpha(opacity = 20);
}