@font-face { font-family: 'GothaProReg'; src: url("gotham/GothaProReg.otf"); }
@font-face { font-family: 'GothaProBol'; src: url("gotham/GothaProBol.otf"); }
body{
    background: #EFEFF1;
    font-family: 'GothaProReg';
}
@media only screen and (min-width: 1420px){
    .container{
        width: 1400px;
    }
}
a:hover{
    color: initial;
    text-decoration: none;
}
header{
    display: block;
    height: 765px;
    margin: 0 auto;
    background: url(../image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header.white{
    background: white;
    background-image: none;
    height: auto;
    padding: 6px 0;
}
.kok-poisk{
    min-height: 80px;
    background-color: #004FC1;
    padding: 10px 0;
    height: auto;
}
.advanced-search-arrow {
    margin-right: -15px;
    position: absolute;
    font-size: 25px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #FFF;
}
/*.kok-poisk .input-cover {*/
    /*width: calc(100% - 240px);*/
/*}*/
.kok-poisk .input-cover input{
    width: 100%;
}
.menu-60{
    position: relative;
    height: 60px;
    background-color: #F5F5F5;
    padding: 20px 0;
}
.logo{
    width: 145px;
    padding: 20px 0;
}
header.white .logo{
    margin-right: 34px;
}
header hr{
    margin: 0 0 70px 0;
    padding: 0;
}
.voity{
    font-family: 'GothaProReg';
    color: white;
    float: right;
    font-size: 15px;
    padding: 20px 20px 20px 0;
}
.menu-60 nav {
    float: left;
    position: relative;
}
.vihod{
    font-family: 'GothaProReg';
    float: right;
    color: #666666;
    font-size: 15px;
}
.span-category {
    font-size: 15px;
    position: relative;
    top: 15px;
}
.studio .add-span img {
    top: 80px;
}
.in-menu .menu-img.in-the-mid img.tamak {
    width: 250px;
    position: absolute;
    top: 80px;
    left: 80px;
}
.voity:hover{
    color: white;
}
.clear{
    clear: both;
}
.lang{
    font-family: 'GothaProReg';
    color: white;
    float: right;
    font-size: 15px;
    padding: 20px 0;
}
.white span.lang {
    color: #3366cc;
}
.lang-b{
   font-family: 'GothaProBol';
   font-size: 16px;
}
.company_name{
    font-family: 'GothaProReg';
    color: white;
    font-size: 50px;
    text-align: center;
    display: block;
}
h1{
    font-family: 'GothaProBol';
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.title{
    font-family: 'GothaProReg';
    color: white;
    font-size: 18px;
    text-align: center;
    display: block;
}
.menu-60 img{
    float: left;
    margin-right: 28px;
}
.menu-60 nav li{
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 21px;
}
.menu-60 nav li a{
    color: #3366ff;
    font-size: 15px;
    font-family: 'GothaProReg';
}
.select-cover .select2-container .select2-selection--single {
    height: 60px;
    padding: 17px 7px 17px 35px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border:none;
    outline: none;
    border-bottom-left-radius: 5px;
    box-shadow: none;
}
.select-cover .select2-container .select2-selection--single .select2-selection__placeholder {
    font-family: 'GothaProReg';
    color: #3366ff;
    font-size: 18px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    border: none;
    border-left: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    height: 50px;
    top: 5px;
    left: 1px;
    width: 30px;
}
.select2-container.select2-container--open .select2-selection, .select2-container .select2-selection:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition:none;
    border-color: none;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #00B165 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -6px;
    position: absolute;
    top: 53%;
    width: 0;
}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #00B165 transparent;
    border-width: 0 7px 8px 7px;
}
.input-cover input{
    font-family: 'GothaProReg';
    background: white;
    height: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    box-shadow: none;
    margin-left: 2px;
    padding: 15px;
    color: #000;
    padding-right: 60px;
    width: 100%;
}
.input-cover{
    float: left;
    position: relative;
}
.input-cover button{
    background: url(../image/search.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
}
.input-cover button {
    background: url(../image/search.png);
    background-size: 33px 34px;
    background-repeat: no-repeat;
    background-position: 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
}
header form {
    display: block;
    width: 842px;
    margin: 35px auto;
}
.zaregistririvat{
    display: block;
    width: 424px;
    height: 80px;
    background: #FFE749;
    border-radius: 180px;
    color: #000;
    font-size: 30px;
    text-align: center;
    margin: 180px auto 0;
    padding: 20px 15px;
}
.uslugi{
    display: block;
    background: #00B165;
    height: 149px;
    padding: 50px 0 ;
}
.uslugi img{
    float: left;
    margin-right: 15px;
}
.uslugi p{
    font-family: 'GothaProReg';
    font-size: 15px;
    color: #fff;
}
.vse-uslugi{
    display: block;
    width: 251px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
    background: #00C06F;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'GothaProReg';
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 70px;
}
.popular-span{
    font-family: 'GothaProReg';
    font-size: 50px;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 70px;
}
.product-div{
    background: white;
    padding: 10px;
    margin-bottom: 30px;
}
.product-div span {
    font-family: 'GothaProBol';
    display: block;
    width: 100%;
    color: #3366ff;
    font-size: 15px;
    text-align: center;
    margin: 20px 0 8px;
}
.product-img{
    height: 250px;
    width: 100%;
}
.first-img{
    background: url(../image/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.second-img{
    background: url(../image/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.third-img{
    background: url(../image/image3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fourth-img{
    background: url(../image/image4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth-img{
    background: url(../image/image5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.six-img{
    background: url(../image/image6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.seventh-img{
    background: url(../image/image7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.eight-img{
    background: url(../image/image8.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.popular {
    padding-bottom: 70px;
}
.blue-div{
    background: #004FC1;
    padding: 90px 0;
}
.blue-div .container{
    position: relative;
    min-height: 400px;
}
.blue-span{
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'GothaProReg';
    font-size: 50px;
}
.vectorsmartobject{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -60px;
}
.free-app{
    display: block;
    width: 970px;
    margin: 0 auto;
    position: relative;
    z-index: 1111;
    margin-top: 90px;
}
.free-app .smartphone{
    width: 186px;
    float: left;
    margin-right: 50px;
}
.check p{
    color: #fff;
    font-family: 'GothaProReg';
    font-size: 15px;
    margin-bottom: 33px;
}
.check-symbol {
    float: left;
    width: 28px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.check-but{
    width: 177px;
    height: 40px;
    color: #000;
    font-size: 18px;
    font-family: 'GothaProReg';
    text-align: center;
    background-color: #FFE749;
    box-shadow: none;
    border:none;
    border-radius: 20px;
}
.rating-first{
    padding: 90px 0;
    background-color: #FFFFFF;
}
.rating-span{
    display: block;
    font-family: 'GothaProReg';
    text-align: center;
    font-size: 50px;
    color: #000;
    margin-bottom: 90px;
}
.rating-div{
    display: block;
    width: 100%;
    height: 205px;
    background-color: #F5F5F5;
    border-top:2px solid #FFE749;
    padding: 40px;
    margin-bottom: 30px;
}
.rating-img {
    display: block;
    position: relative;
    width: 126px;
    height: 126px;
    float: left;
    margin-right: 30px;

}
.rating-img img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.rating-title {
    display: block;
    font-family: 'GothaProReg';
    font-size: 15px;
    color: #000;
    width: calc(100% - 285px);
    float: left;
}
.rating-div p{
    font-family: 'GothaProReg';
    font-size: 15px;
    color: #000;
}
.raing-star {
    float: right;
    width: 129px;
}
.raing-star img{
    width: 15px;
}
.rating-bal {
    display: block;
    margin-bottom: 60px;
}
.auto-moto .aksii-text-cover .raing-star {
    position: absolute;
    right: 22px;
    top: 32px;
    color: #000;
    font-size: 15px;
}
span.heart-button {
    position: absolute;
    right: 30px;
    bottom: -15px;
    z-index: 1;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}
.auto-moto-p {
    width: calc(100% - 70px);
    font-size: 15px;
    color: #000;
}
.auto-moto-p span{
    color: #0066cc;
    cursor: pointer;
}
.moto-status {
    position: absolute;
    color: #339966;
    font-size: 15px;
    top: 20px;
    right: 30px;
}
.moto-status span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 4px solid white;
    background-color: #339966;
    border-radius: 8px;
    position: relative;
    left: -5px;
    top: 2px;
}
.moto-status-offline{
    color: #999999;
}
.moto-status-offline span {
    background-color: #999;
}
.vse-rating {
    display: block;
    width: 202px;
    height: 40px;
    margin: 60px auto 90px;
    background-color: #004FC1;
    border-radius: 20px;
    font-family: 'GothaProReg';
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 7px 0;
}
.vse-rating:hover{
    color: #fff;
}
.spec .rating-img {
    width: 75px;
    height: 75px;
    margin-bottom:20px;
}
.rating-div.spec{
    height: 240px;
    border-top: 2px solid #00C06F;
    border-bottom-left-radius: 20px;
    background-color: #F5F5F5;
}
.spec .rating-title {
    width: calc(100% - 105px);
}
.moto-desc{
    font-size: 15px;
    color: #000;
}
.moto-country {
    position: absolute;
    right: 30px;
    top: 60px;
    background-color: white;
}
.moto-country img{
    width: 23px;
}
.auto-moto .aksii-cover button{
    width: 185px;
    float: left;
    margin: 20px 0;
}
.auto-moto .check-img {
    background: #00B165;
    float: right;
    margin: 20px 10px 0 0;
}
.bread{
    border-bottom: 1px solid #F5F5F5;
    padding:15px 0;
    background-color: white;
    color: #666;
}
.bread a{
    color: #0066cc;
}
.rating-san{
    width: 75px;
    min-height: 240px;
    text-align: center;
    margin-right: 30px;
    float: left;
}
.auto-moto .aksii-more, .aksii-more.more-z{
    height: 90px;
    width: 424px;
    font-size: 30px;
    border-radius: 60px;
    margin-top: 20px;
    line-height: 90px;
}
.nopadbot{
    margin-bottom: 0;
}
.how_to_work{
    background: #F5F5F5;
    padding: 90px 0;
}
.opacity50 img{
    opacity: 0.5;
}
.how_span{
    display: block;
    text-align: center;
    font-family: 'GothaProReg';
    font-size: 50px;
    color: #000;
    margin-bottom: 77px;
}
.how_div p{
    font-family: 'GothaProBol';
    font-size: 18px;
    color: #000;
}
.how_div img {
    width: 72px;
    margin-bottom: 25px;
}
.how_div span{
    font-family: 'GothaProReg';
    font-size: 15px;
    color: #000;
}
.start {
    display: block;
    text-align: center;
    width: 601px;
    height: 80px;
    font-family: 'GothaProReg';
    font-size: 30px;
    color: #000;
    background: #FFE749;
    border-radius: 60px;
    padding: 15px 0;
    margin: 75px auto 0;
}
footer{
    background: #fff;
    padding: 50px 0;
    border-top: 2px solid #F5F5F5;
}
.goto {
    display: inline-block;
    font-family: 'GothaProBol';
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
}
footer nav li{
    display: inline-block;
    margin-right: 20px;
}
footer nav li a{
    font-size: 15px;
    color: #0066cc;
    font-family: 'GothaProReg';
}
footer .social{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
}
.soc-img {
    float: left;
    width: 30px;
    margin-right: 15px;
}
.locate2-span{
    color: #3366ff;
    font-size: 15px;
    font-family: 'GothaProReg';
}
.white-lang-right{
    margin-right: 40px;
}
.add-span{
    font-family: 'GothaProReg';
    font-size: 48px;
    color: #000;
    display: block;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.add-company{
    background-color: #fff;
}
.grey-admin{
    padding: 55px 40px;
}
.grey-span{
    font-size: 30px;
    color: #000;
    font-family: 'GothaProReg';
    display: block;
    text-align: center;
    margin: 0 0 55px 0;
}
.tabs nav ul li a{
    font-family: 'GothaProReg';
    color: #0066cc;
    font-size: 15px;
}
.tabs nav ul li a img{
    margin-right: 10px;
}
.add-input{
    width: 100%;
    height: 40px;
    border:2px solid #EAEAEA;
    border-radius: 1px;
    background-color: white;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
    padding: 7px;
    margin-bottom: 10px;
}
.imgbywidth{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tabs .select2-container .select2-selection--single,
.panel-body .select2-container .select2-selection--single,
.aksii-filter .select2-container .select2-selection--single{
    width: 100%;
    height: 40px;
    border:2px solid #EAEAEA;
    border-radius: 1px;
    background-color: white;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
    padding: 7px;
    margin-bottom: 10px;
}
.tabs .select2-container .select2-selection--single .select2-selection__arrow,
.panel-body .select2-container .select2-selection--single .select2-selection__arrow,
.aksii-filter .select2-container .select2-selection--single .select2-selection__arrow,
.zayavki .select2-container .select2-selection--single .select2-selection__arrow{
    width: 40px;
    height: 40px;
    left: initial;
    top: 0;
    right: 0;
}
.add-textarea{
    width: 100%;
    height: 120px;
    border:2px solid #EAEAEA;
    border-radius: 1px;
    background-color: white;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
    padding: 7px;
    margin-bottom: 10px;
}
.nopad{
    padding: 0;
}
.tabs .norightborder .select2-container .select2-selection--single{
    border-right: none;
}
.add-label{
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
}
.marbot30{
    margin-bottom: 30px;
}
.plus-div{
    cursor: pointer;
    width: 96px;
    height: 66px;
    margin-top: 10px;
    border:2px solid #EAEAEA;
    text-align: center;
    padding-top: 17px;
    float: left;
    margin-right: 20px;
}
.add-button{
    outline: none;
    width: 127px;
    height: 34px;
    border: 2px solid  #0066cc;
    box-shadow: none;
    border-radius: 17px;
    font-size: 15px;
    color: #0066cc;
    font-family: 'GothaProReg';
    margin: 0;
    background-color: #F5F5F5;
}
.add-label.mrgbot10 {
    margin-bottom: 10px;
}
.radio-cover {
    width: 100px;
    height: 90px;
    text-align: center;
    float: left;
    position: relative;
    margin: 40px 0;
}
.checkbox-label {
    display: block;
    cursor: pointer;
    font-size: .8rem;
    text-align: center;
    color: #000;
    line-height: 1rem;
    transition: .2s ease-in-out;
    position: relative;
    padding-bottom: 50px;
}
.checkbox-label._colored-style .checkbox-icon {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,.15);
}
.checkbox-label .checkbox-icon {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    left: 45px;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    transition: .1s ease-in-out;
}
.checkbox-label input {
    display: none;
}
.checkbox-label input:checked+.checkbox-icon:before {
    opacity: 1;
}
.checkbox-label .checkbox-icon:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #00B165;
    background-size: 100%;
    background-position: 50%;
    width: 16px;
    height: 15px;
    opacity: 0;
    transition: .1s ease-in-out;
}
.check-img {
    display: block;
    height: 40px;
    position: relative;
    width: 40px;
    background: #CFCFCF;
    border-radius: 20px;
        margin: 0 30px 15px;
}
.check-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.checkbox-label input:checked+span+span.checkbox-text .check-img{
    background: #00B165;
}
.koksize{
    float: left;width: 64px;height: 64px;background-color: #00B165;margin-right: 30px;margin-top: 10px;
}
.radio-cover2 {
    float: left;
    width: 70px;
    margin-right: 10px;
}
.radio-cover2 .checkbox-label {
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 30px;
        margin-bottom: 0;
}
.radio-cover2 .checkbox-label .checkbox-icon {
    bottom: initial;
    left: 0;
    top: 20px;
}
.add-label.left-label {
    float: left;
    margin-right: 20px;
        margin-bottom: 5px;
}
.add-input.calcwidthinput {
    width: calc(100% - 94px);
    float: left;
}
.margin-top20{
    padding-top: 20px;
}
.inputwithimg{
    position: relative;
}
.inputwithimg img {
    position: absolute;
    width: 20px;
    left: 12px;
    top: 10px;
}
.right-label{
    float: right;
    font-size: 18px;
    color: #000;
    font-family: 'GothaProReg';
}
.right-label img{
    display: inline-block;
    cursor: pointer;
}
.inputwithimg .add-input{
    padding-left: 40px;
}
.radio-right{
    float: right;
    width: 110px;
}
.holiday-day{
    float: left;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
}
.holiday-day img{
    margin-left: 10px;
}
.uslugi-kompanii{
    display: block;
/*    padding: 50px 0; */
}
.just-grey{
    background-color: #F5F5F5;
    padding: 15px 30px;
}
.bluebutton{
    outline: none;
    width: 205px;
    height: 34px;
    border: 2px solid  #0066cc;
    box-shadow: none;
    border-radius: 17px;
    font-size: 15px;
    color: #fff;
    font-family: 'GothaProReg';
    margin: 0;
    background-color: #0066cc;
}
.radio-right2{
    float: right;
    width: 350px;
}
.panel-title {
    color: #0066cc;
    font-size: 18px;
    font-family: 'GothaProBol';
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border: none;
    padding: 30px 15px 30px 30px;
}
.panel-group .panel {
    margin-bottom: 0;
    border: none;
}
.panel-title .pan_up {
    display: none;
}
.collapsed .pan_down {
    display: none;
}
.collapsed .pan_up {
    display: initial;
}
.right-panel{
    float: right;
}
.panel-quan{
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
}
.add-button.add-uslugi {
    background: white;
    width: 176px;
    position: relative;
    top: -8px;
}
.panel-quan {
    width: 180px;
    display: block;
    font-size: 15px;
    color: #000;
    font-family: 'GothaProReg';
    float: left;
    margin-right: 30px;
}
.close-uslugi {
    float: right;
    margin: 2px 5px 2px 15px;
    cursor: pointer;
}
.panel-body.sub-panel-body {
    padding: 0;
}
.sub-panel-body .panel.panel-default {
    padding: 0 30px;
}
.sub-panel-body .panel-default > .panel-heading {
    background-color:#F5F5F5;
    padding: 20px 15px 20px 20px;
}
.sub-panel-body .panel-title {
    color: #0066cc;
    font-size: 15px;
    font-family: 'GothaProReg';
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
    border:none;
}
.sub-panel-body .panel-bagit {
    width: 10px;
}
.sub-panel-body .panel-body{
    background-color: #F5F5F5;
}
.aksii{
    background-color: #fff;
}
.aksii-filter {
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    margin-bottom: 60px;
    padding: 10px 40px;
}
.aksii-filter .radio-cover2 {
    width: auto;
}
.aksii-search {
    height: 40px;
    width: 163px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #0066cc;
    border-radius: 20px;
    outline: none;
    border: none;
    float: right;
    margin-top: 2px;
}
.aksii-text-cover{
    width: 100%;
    border-top: 2px solid #FFDF27;
    background: #F5F5F5;
    padding: 30px;
    position: relative;
    margin-bottom: 2px;
}
.aksii-text-cover p{
    color: #000;
    font-size: 15px;
    font-family: 'GothaProReg';
    margin-bottom: 5px;
}
.aksii-text-cover span{
    color: #000;
    font-size: 15px;
    font-family: 'GothaProBol';
}
.aksii-cover{
    background: #F5F5F5;
    padding: 20px 30px;
    margin-bottom: 30px;
    position: relative;
}
.aksii-cena {
    color: #339966;
    font-size: 18px;
    font-family: 'GothaProBol';
    margin-bottom: 20px;
    display: block;
}
.free-aksia{
    font-family: 'GothaProReg';
}
.aksii-cena span{
    color: #000;
    font-family: 'GothaProReg';
}
.aksii-img{
    position: relative;
    width: 100%;
    height: 240px;
    background-position: center;
    margin-bottom: 30px;
}
.aksii-img span {
    color: #fff;
    display: block;
    font-size: 15px;
    font-family: 'GothaProBol';
    background-color: #00B165;
    height: 40px;
    width: 67px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aksii-cover button{
    display: block;
    height: 40px;
    width: 153px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #0066cc;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 0 auto
}
.aksii-more{
    display: block;
    height: 40px;
    width: 225px;
    color: #000;
    font-size: 18px;
    text-align: center;
    background-color: #FFDF27;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 0 auto 60px;
}
.aksii-table-head{
    background: #00B165;
}
.a-t-text {
    width: 10%;
    display: block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    float: left;
    padding: 20px 5px;
}
/*.a-t-names {*/
    /*text-align: left;*/
    /*width: 20%;*/
/*}*/
.a-t-text.a-t-prodol {
    width: 15%;
}
.a-t-cena, .a-t-variant {
    padding: 7px;
}
.aksii-company-name{
    font-family: 'GothaProBol';
    font-size: 18px;
    color: #000;
    padding: 30px 0;
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.aksii-company-budget {
    color: #000;
    font-size: 18px;
    float: left;
    display: block;
    margin: 30px 0;
}
.aksii-company-budget span{
    color: #339966;
    font-family: 'GothaProBol';
}
.aksii-add-company{
    outline: none;
    width: 160px;
    height: 34px;
    float: right;
    border: 2px solid #0066cc;
    box-shadow: none;
    border-radius: 17px;
    font-size: 15px;
    color: #0066cc;
    font-family: 'GothaProReg';
    margin: 30px 0;
    background-color: #FFF;
}
.panel-heading.aksii-panel-heading {
    padding: 0;
        padding-right: 30px;
}
.panel-heading.aksii-panel-heading .panel-title {
    font-family: 'GothaProReg';
    color: #000;
}
.panel-heading.aksii-panel-heading .a-t-text.a-t-names {
    padding: 15px 0;
}
.panel-heading.aksii-panel-heading .a-t-text {
    padding: 10px 5px;
}
.aksii-panel-heading .select2-container .select2-selection--single .select2-selection__arrow {
    top: -6px;
    left: -5px;
}
.aksii-panel-heading  .add-input {
    outline: none;
    height: 34px;
}
.aksii-radio-cover2 {
    float: none;
    width: 50%;
    margin-right: 10px;
}
.panel-body.sub-panel-body.aksii-sub-panel-body {
    padding: 0 20px;
}
.aksii-sub-panel-body .add-label{
    margin-bottom: 5px;
}
.panel-default {
    border: none;
    box-shadow: none;
}
.aksii-serii-div {
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
    font-size: 18px;
    color: #000;
    padding: 12px 20px;
}
.a-t-summa{
    position: relative;
}
.close-aksii {
    position: absolute;
    right: -15px;
    top: 20px;
    cursor: pointer;
}
.panel {
    min-height: 40px;
    border: none;
    box-shadow: none;
}
.aksii-add-company.sohranit-aksii {
    width: 208px;
    float: left;
}
.obshaya-summa-aksia span{
    font-family: 'GothaProBol';
    color: #339966;
}
.obshaya-summa-aksia {
    float: right;
    font-size: 15px;
    color: #000;
    margin-top: 37px;
}
button.olatit-aksii {
    float: right;
    width: 112px;
    height: 34px;
    margin-top: 30px;
    background: #00B165;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 30px;
}
button{
    outline: none;
}
.balance-div{
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}
.vash-balance{
    display: block;
    height: 70px;
    padding-top: 15px;
    font-size: 30px;
    background-color: #F5F5F5;
}
.vash-balance span{
    color: #339966;
    font-family: 'GothaProBol';
}
.balance-span{
    font-size: 18px;
    color: #000;
    position: relative;
    top: 7px;
    text-align: left;
}
.balance-popolnit-div {
    text-align: left;
    padding: 50px 0;
    border-bottom: 1px solid #F5F5F5;
}
.balance-popolnit-div2{
    text-align: left;
    padding: 50px 0;
    margin-bottom: 50px;
}
.span30px{
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
}
.tabs nav.white-nav {
    background: #fff;
}
nav.white-nav ul {
    padding: 0;
    margin: 0;
}
.tabs nav.white-nav ul li {
    width: 210px;
    height: 40px;
    background-color: #F5F5F5;
    margin: 0px 5px;
    padding: 18px 0;
}
.tabs nav.white-nav li.tab-current {
    background: #339966;
}
.tabs nav.white-nav li.tab-current::after {
    content: '';
    position: absolute;
    left: 95px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #339966;
}
.textleft{
    text-align: left;
        margin-top: 30px;
}
.textleft .add-label{
    padding-left: 30px;
}
.oplatit-balance {
    width: 344px;
    height: 80px;
    background-color: #FFE749;
    outline: none;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin: 50px auto;
    display: block;
    border: none;
    border-radius: 60px;
}
.mar30 {
    margin-bottom: 30px;
}
.add-button.dob-kabinet-per {
    background: #0066cc;
    color: white;
    position: relative;
    top: -4px;
    float: left;
}
.textright{
    text-align: right;
    font-size: 15px;
}
.select2-container .select2-selection--single .select2-selection__clear {
    display: none;
}
.kabinet-perevod .panel-collapse {
    background: #F5F5F5;
    padding: 20px;
}
button.add-button.wht-back {
    width: auto;
    padding: 0 25px;
    background: white;
}
span.page-span {
    cursor: pointer;
    color: #0066cc;
    font-size: 15px;
    border: 2px solid #0066cc;
    border-radius: 30px;
    width: 33px;
    height: 33px;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
}
span.page-span.active, span.page-span:hover{
    background-color: #00B165;
    color: #fff;
    border-color:#00B165;
}
.time-kab{
    font-family: 'GothaProReg';
    color: #000;
    font-size: 15px;
}
.time-kab span{
    color: #666;
}
.nopad-label .add-label {
    padding-left: 0px;
}
.margintop30{
    margin-top: 30px;
}
.a-t-number{
    width: 5%;
}
.a-t-names2 {
    text-align: left;
    width: 25%;
    padding: 20px 0;
}
.aksii-table-head.nopad {
    padding: 0;
}
.aksii-table-head.white-back-table {
    background: white;
    border-bottom: 2px solid #F5F5F5;
    clear: both;
}
.aksii-table-head.white-back-table .a-t-text{
    color: #000;
    font-family: 'GothaProBol';
}
.aksii-table-head.white-back-table .a-t-text span{
    color: #666;
    font-family: 'GothaProReg';
}
.aksii-table-head.white-back-table .checkbox-label {
    padding: 12px;
    margin: 0;
}
span.cu-span {
    font-size: 18px;
    color: #000;
    font-family: 'GothaProBol';
    padding: 10px 0;
    display: block;
}
.cu-div  p{
    font-size: 15px;
    color: #000;
}
.cu-div{
    position: relative;
    padding-right: 15px;
    padding-left: 50px;
    margin-bottom: 50px;
}
.cu-div img{
    position: absolute;
    left: 0;
    top: 0;
}
.studio span.raing-star {
    float: none;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -50px;
}
.slick-slider {
    margin-bottom: 0;
    position:relative;
}
ul.slickslide {
    padding-left:0;
    max-width:100%;
    margin-bottom: 140px;
}
.slick-slider .slick-track {
    min-width:100%;
}
ul.slickslide li img, .slick-dots button img {
    width:600px;
    height: 400px;
}
.slick-dots {
    bottom: -60px;
    left: auto;
    right: auto;
    position: absolute;
    line-height: 0;
    background: #F5F5F5;
}
.slick-dots li, .slick-dots li button:before {
   /* width: 100px;
    height:100px; */
    margin:0;
    padding:0;
}
.slick-dots li {
    margin: 5px; border:1px solid #ccc; display:inline-block; width:auto;height:auto;
}

.slick-slider .slick-track {
    min-width:100%;
}
.slick-dots li button {
    margin:0;
    height:auto;
    width:100%;
    padding:0;
}
.slick-dots li button.tab { clear:both;   display:block;}
.slick-dots li button img { width:100%; max-width:80px; height:auto;   }
.slick-dots li button:before {
    content: '';
    border: none;
    display: block;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    float: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
}
.slick-thumbs {
    position:absolute;
    left: -9999px;
}
.moto-desc span.kok-color{
    color: #0066cc;
}
.moto-desc b{
    font-family: 'GothaProBol';
}
.studio .check-img {
    background: #00B165;
    float: right;
    margin: 10px 10px 0 0;
}
.icons_email{
    font-size: 15px;
    color: #fff;
    width: 209px;
    height: 34px;
    background: #004FC1;
    box-shadow: none;
    border:none;
    border-radius: 17px;
}
button.icons_email img {
    margin: 0 7px 0 0;
}
.studio .panel-heading {
    padding: 30px 0;
}
.studio-small .panel-title{
    font-size: 15px;
    font-family: 'GothaProReg';
}
img.marimg {
    position: relative;
    left: 10px;
    top: -3px;
}
.days-name {
    width: 42px;
    display: inline-block;
}
.vibor-uslugi {
    font-size: 30px;
    color: #000;
    text-align: center;
    margin: 40px 0;
    display: block;
}
.studio-l .panel-default {
    border-bottom: 2px solid #F5F5F5;
}
.studio-l .panel-default:first-child{
    border-top: 2px solid #F5F5F5;
}
.studio-l .studio-span {
    display: inline-block;
    font-size: 18px;
    font-family: 'GothaProReg';
    color: #000;
    width: 300px;
}
.j-tus{
    color: #339966;
}
.st-p{
    color: #000;
    font-size: 18px;
    margin-top: 7px;
}
.plus-but{
    color: #fff;
    font-size: 15px;
    width: 177px;
    height: 34px;
    background-color: #004FC1;
    box-shadow: none;
    border:none;
    border-radius: 17px;
}
.plus-but .fa{
    margin-right: 7px;
}
.studio .aksii-table-head.white-back-table:last-child{
    border-bottom: none;
}
.studio .aksii-table-head.white-back-table .a-t-text {
    font-family: 'GothaProReg';
}
.aksii-table-head.white-back-table .a-t-text span.j-tus{
    color: #339966;
}
.aksii-table-head.white-back-table .a-t-text span.k-tus{
    color: #FB0202;
}
.s-a .select2-container .select2-selection--single .select2-selection__arrow b {
    margin-top: -18px;
}
.s-a .a-t-text {
    width: 12%;
}
.s-a .a-t-spec {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
}
.submenu {
    display: none;
    position: absolute;
    top: 42px;
    width: 234px;
    height: 218px;
    background-color: #00B165;
    border-radius: 4px;
    z-index: 1;
    padding: 30px 20px;
}
.menu-60 nav li .submenu a {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}
.menu-60 nav li .submenu a b{
    font-family: 'GothaProBol';
}
.submenu .fa {
    color: #FFE642;
    margin: 0 7px;
}
.menu-60 nav li:hover .submenu{
    display: block;
}
.submenu::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; top: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #00B165; /* Добавляем треугольник */
}
.cies p{
    font-size: 18px;
    font-family: 'GothaProBol';
    color: #0066cc;
    margin-top: 25px;
}
.cies p span{
    font-family: 'GothaProReg';
    color: #666666;
}
.cies button {
    outline: none;
    width: 160px;
    height: 34px;
    border: 2px solid #0066cc;
    box-shadow: none;
    border-radius: 17px;
    font-size: 15px;
    color: #0066cc;
    font-family: 'GothaProReg';
    margin: 22px 30px;
    background-color: #FFF;
}
.cies {
    display: block;
    height: 80px;
    border-bottom: 2px solid #F5F5F5;
}
.cies.first-cies{
    border-top: 2px solid #F5F5F5;
}
.cies .close-uslugi {
    margin-top: 33px;
}
span.quan-cies {
    width: 260px;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
}
.marbot50 {
    padding-bottom: 70px;
}
.podarki-span{
    font-size: 18px;
    font-family: 'GothaProBol';
    color: #000;
}
.podarki .moto-desc {
    margin: 20px 0;
}
.podarki-search {
    height: 40px;
    width: 249px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #00AE63;
    border-radius: 20px;
    outline: none;
    border: none;
    float: right;
    margin-top: 2px;
}
.podarki button.aksii-search {
    float: left;
}
.podarki .a-t-text{
    width: auto;
}
.podarki-names{
    height: 60px;
    border-bottom: 2px solid #F5F5F5;
}
.podarki-names .podarki-span {
    padding-top: 14px;
}
.add-podarok{
    height: 34px;
    width: 178px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #004FC1;
    border-radius: 20px;
    outline: none;
    border: none;
    float: left;
    margin-top: 10px;
}
.podarki .close-aksii {
    right: 0;
}
.podarki-list{
    border-bottom: 2px solid #F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.img-podarki {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}
.add-input.name-pad-in {
    width: calc(100% - 70px);
    float: left;
    margin-top: 6px;
}
.add-input.text-pad-in {
    margin-top: 6px;
}
.add-input.price-pad-in {
    width: calc(100% - 20px);
    float: left;
    margin-top: 6px;
}
.podarki-cover .add-button {
    width: 207px;
    border: 2px solid #0066cc;
    background-color: #FFF;
    margin-bottom: 30px;
    margin-top: 30px;
}
.podarki.members button.aksii-search {
    float: right;
}
.podarki.members button.aksii-search .fa {
    margin-right: 7px;
}
.podarki.members .add-podarok{
    width: 197px;
    float: right;
}
.members .podarki-names {
    padding-left: 30px;
}
.members .podarki-list {
    padding-left: 15px;
}
.name-pod-list .add-input.name-pad-in {
    max-width: 270px;
}
.name-pod-list{
    position: relative;
}
.name-pod-list span{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #1BF8C2;
}
.name-pod-list span {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #1BF8C2;
    border-radius: 6px;
    left: 0;
    top: 6px;
}
.name-pod-list.offline-pod-list span {
    background: #D1D1D1;
}
.members .select2-container .select2-selection--single {
    margin-top: 6px;
    height: 40px;
    padding-top: 10px;
}
.members .select2-container .select2-selection--single .select2-selection__arrow {
    left: auto;
    right: 2px;
    top: -4px;
}
.members .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #000;
    font-size: 15px;
}
.members .podarki-cover .add-button{
    width: 137px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.mem-add-but-cov{
    display: block;
    background: #F5F5F5;
    margin-bottom: 15px;
    padding-left: 15px;
}
.a-t-text.chutleft {
    padding-left: 20px;
}
.message span.input-group-addon.kv-field-separator {
    background: none;
    border: none;
}
.message .form-control{
    height: 40px;
    border: 2px solid #EAEAEA;
}
button.aksii-search .fa{
    margin-right: 10px;
}
.message-cover{
    border-bottom: 2px solid #F5F5F5;
}
.message label.checkbox-label {
    float: left;
    text-align: left;
    width: 20px;
}
.message .checkbox-label .checkbox-icon {
    left: 0;
}
.messpan0 {
    font-size: 15px;
    color: #000;
    margin: 18px 0 18px 30px;
    display: block;
    text-align: left;
}
.messpan {
    font-size: 15px;
    color: #000;
    margin: 18px 0;
    display: block;
    text-align: left;
}
.messpanb{
    font-size: 15px;
    color: #000;
    margin: 18px 0;
    display: block;
    font-family: 'GothaProBol';
}
.messpan4{
    font-size: 15px;
    color: #666;
    margin: 18px 0;
    font-style: italic;
    display: block;
    text-align: left;
}
.message .fa-envelope {
    color: #00B165;
    margin-right: 15px;
}
.message .fa-envelope-open{
    color: #D6D6D6;
    margin-right: 15px;
}
.message .aksii-table-head {
    padding: 0;
    text-align: left;
}
.del-check{
    width: 193px;
    height: 34px;
    border-radius: 17px;
    border:2px solid #FFB8B8;
    margin: 30px 0;
    box-shadow: none;
    background: white;
}
.col-xs-eki {
    width: 14%;
    float: left;
}
.read-but {
    width: 107px;
    height: 34px;
    background: white;
    border-radius: 17px;
    color: #0066cc;
    font-size: 15px;
    border: 2px solid #0066cc;
    box-shadow: none;
    float: right;
    margin: 10px 0;
}
.message-cover.summa-otchet{
    background: #F5F5F5;
    margin-bottom: 30px;
}
.prof-but {
    width: 219px;
    height: 34px;
    color: white;
    background: #004FC1;
    border-radius: 17px;
    border: none;
    box-shadow: none;
    text-align: center;
    display: block;
    margin: 30px auto 15px;
}
.col-sm-6.spec-grey {
    padding: 0;
    margin-top: 30px;
    padding-left: 15px;
}
.col-sm-6.spec-grey.f-spec-grey{
    padding-right: 15px;
    padding-left: 0px;
}
.spec-grey-span{
    font-size: 30px;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.a-t-text.a-t-check {
    width: 50px;
    padding: 0 15px;
}
.message .a-t-text.a-t-check label.checkbox-label {
    padding: 25px 0;
}
.a-t-numlist{
    width: 60px;
    text-align: center;
    padding: 20px 5px;
}
.a-t-text.a-t-tema {
    text-align: left;
    width: calc(58% - 110px);
}
.karatext .a-t-text{
    color: #000;
}
.message .karatext .a-t-text.a-t-check label.checkbox-label {
    padding: 20px;
}
.karatext .panel-heading.aksii-panel-heading .a-t-text {
    padding: 8px 15px;
    height: 40px;
}
.karatext h4.panel-title {
    color: #0066cc;
    width: 130px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid #0066cc;
    float: right;
    padding: 7px 18px;
    font-size: 15px;
    font-family: 'GothaProReg';
}
.sup-ser-div .a-t-text {
    font-size: 18px;
}
.sup-ser-div  .a-t-text.a-t-prodol {
    width: 16%;
}
.sup-ser-div  .panel-heading.aksii-panel-heading {
    padding: 0;
    padding-right: 30px;
    border-bottom: 2px solid #F5F5F5;
    padding-bottom: 15px;
}
.sup-ser-div .grey-admin {
    padding: 50px 15px !important;
}
.sup-ic{
    float: left;
    margin: 30px 30px 0 0;
}
.sup-ic span{
    font-size: 15px;
    color: #0066cc;
}
.greenbutton {
    display: block;
    outline: none;
    width: 190px;
    height: 40px;
    border: 2px solid #00B165;
    box-shadow: none;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    font-family: 'GothaProReg';
    margin: 30px auto 10px;
    background-color: #00B165;
}
.redbutton {
    display: block;
    outline: none;
    width: 167px;
    height: 40px;
    border: 2px solid #CE1C1C;
    box-shadow: none;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    font-family: 'GothaProReg';
    margin: 30px auto 10px;
    background-color: #CE1C1C;
}
.gray-sup-div{
    width: 100%;
    background-color: #EAEAEA;
    padding: 25px 30px;
    margin-bottom: 15px;
}
.gray-sup-div span{
    color: #000;
    font-size: 18px;
}
.sup-ser-div .panel-body.sub-panel-body.aksii-sub-panel-body {
    padding: 0;
}
.grey-admin2{
    background:#F5F5F5;
}
.grey-admin3{
    background:#F5F5F5;
    padding: 20px !important;
}
.gray-sup-div-wob span{
    color: #000;
    font-size: 18px;
}
.chat-from{
    display: inline-block;
    background-color: #fff;
    max-width: 75%;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.chat-from img.ava-chat{
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
}
.chat-from p{
    color: #000;
    font-size: 15px;
    margin-left: 50px;
}
.chat-from span{
    color: #666;
    font-size: 15px;
    margin: 15px 0;
    margin-left: 50px;
}

.chat-to{
    display: inline-block;
    float: right;
    background-color:#EAEAEA;
    max-width: 75%;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.att-img{
    border-radius: 10px;
    display: inline-block;
    height: 80px;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
}
.chat-to img.ava-chat{
    width: 40px;
    border-radius: 20px;
    float: right;
    margin-right: 15px;
}
.chat-to p{
    color: #000;
    font-size: 15px;
    margin-right: 50px;
}
.chat-to span{
    color: #666;
    font-size: 15px;
    margin: 15px 0;
    margin-right: 50px;
}
.otr-soobw{
    text-align: center;
}
.otr-soobw .greenbutton{
    display: inline-block;
    margin-right: 20px;
}
.otr-soobw img{
    cursor: pointer;
    height: 40px;
    width: auto;
}
.aksii-add-company.sohranit-aksii3 {
    width: 195px;
    float: left;
    color: #666;
    border-color: #666;
    margin-right: 20px;
}
.aksii-add-company.sohranit-aksii4 {
    width: 105px;
    float: left;
    color: #666;
    border-color: #666;
}
.calendar-cover{
    background-color: #F5F5F5;
    padding: 40px;
}
.kok-span{
    color: #0066cc;
    text-align: center;
    font-size: 30px;
    display: block;
}
.days {
    width: 33px;
    height: 75px;
    float: none;
    font-size: 15px;
    color: #000;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
}
.times{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #000;
}
.line{
    border-top: 1px solid #DADADA;
    height: 40px;
}
.line .days{
    height: 40px;
    padding: 0;
}
.holiday{
    background-color: #E8E8E8;
}
.akkun{
    background-color: #fff;
}
span.aktiv-day {
    background: #00B165;
    display: block;
    font-size: 10px;
    color: #fff;
    height: 100%;
    padding: 12px 0;
}
.aktiv-day.half-down{
    margin-top: 20px;
    padding-top: 3px;
    height: 20px;
}
.aktiv-day.half-up{
    padding-top: 3px;
    height: 20px;
}
.calendar-cover{
    margin-bottom: 40px;
}
.aksii-search.zayavki-aksii-search {
    height: 40px;
    width: 203px;
     font-size: 15px;
}
.zayavki-add-search {
    height: 40px;
    width: 203px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #00B165;
    border-radius: 20px;
    outline: none;
    border: none;
    float: right;
    margin-top: 2px;
}
.zayavki .aksii-filter{
    margin-bottom: 30px;
}
.kara-zayavka{
    font-family: 'GothaProBol';
    font-size: 18px;
    color: #000;
}
.names-zayavka{
      font-size: 18px;
    color: #666;
}
.zayavki-info img{
    margin-left: 10px;
    margin-right: 10px;
}
.names-zayavka a{
    color: #0066cc;
}
.zayavki-info{
    margin-bottom: 30px;
}
.jasil-s{
    color: #339966;
}
.zayavki-ati{
    font-size: 18px;
    color: #000;
}
.calendar2{
    margin-right: 7px;
}
a.zayavki-del {
    font-size: 22px;
    color: #9A9A9A;
    float: right;
}
a.zayavki-del:hover{
    color: red;
}
.zayavki-li {
    margin-bottom: 15px;
    display: block;
}
.zayavki .add-button {
    width: 137px;
    background: white;
}
.zayavki-cover {
    padding-bottom: 30px;
    border-bottom: 2px solid #F5F5F5;
    margin-bottom: 30px;
}
.kizil-a{
    color: #cc3333;
    float: right;
    font-size: 15px;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
}
.language-picker {
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
}
.language-picker:hover {
    /*height: 81px;*/
    overflow: visible;
}
.language-picker a{
    color: #000;
    text-decoration: none;
}
.language-picker li {
    display: block;
    padding: 0 20px;
}
.language-picker a:first-child li {
    border: none;
}

.language-picker li img {
    margin-right: 5px;
}
.services_time {
    width: 100%;
}
@media only screen and (min-width: 1200px){
    #main-form > .col-md-3 {
        padding-right: 0;
        margin-bottom: 3px;
    }
    #main-form > .col-md-9 {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1400px){
    h1 {
        font-size: 45px;
    }
    .rating-div p {
        font-size: 13px;
    }
}
@media (max-width: 1200px){
    .kok-poisk {
        height: auto;
    }
    .menu-60 {
        height: auto;
    }
    .company_name {
        font-size: 45px;
    }
    h1 {
        font-size: 39px;
    }
    .zaregistririvat {
        margin: 90px auto 0;
    }
    header {
        height: 750px;
    }
    .uslugi img {
        width: 38px;
    }
    .uslugi p {
        font-size: 14px;
    }
    .product-img {
        height: 140px;
        width: 100%;
    }
    .popular-span {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .blue-span, .rating-span{
        font-size: 40px;
    }
    .rating-title {
        width: calc(100% - 156px);
    }
    .rating-div {
        position: relative;
        height: 236px;
        padding: 25px;
    }
    .rating-img {
        margin-bottom: 68px;
    }
    .raing-star {
        position: absolute;
        left: 30px;
        top: 160px;
    }
}

@media (max-width: 992px){
    input.hydra_login_input {
        padding-left: 0;
        padding-right: 0;
        width: auto;
    }
    .radio-cover2.radio-right2 {
        float: none;
    }
    .oplatit-balance {
        width: 100%;
    }
    #main-form > .col-md-3 {
        margin-bottom: 3px;
    }
    .grey-admin {
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-size: 30px;
    }
    header form {
        width: 100%;
    }
    .zaregistririvat {
        width: 390px;
        height: 60px;
        font-size: 26px;
        padding: 11px 15px;
    }
    .uslugi {
        text-align: center;
    }
    .uslugi img {
        width: initial;
        height: 32px;
        margin: 0 auto 10px;
        display: block;
        float: none;
    }
    .uslugi {
        text-align: center;
        display: block;
        background: #00B165;
        height: 140px;
        padding: 30px 0;
    }
    .free-app {
        width: 720px;
    }
    .check p {
        font-size: 12px;
    }
    .rating-img {
        width: 90px;
        height: 90px;
    }
    span.raing-star img {
        width: 14px;
    }
    .raing-star {
        left: 25px;
        top: 120px;
    }
    .how_div {
        margin-bottom: 30px;
    }
    .uslugi {
        height: auto;
    }
    .start {
        height: auto;
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    body {
        overflow-x: hidden;
    }
    button.navbar-toggle {
        margin-top: 16px;
    }
    a.zaregistririvat {
        width: 100%;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    header {
        height: auto;
    }
    .language {
        color: #FFF;
    }
    header.white .language {
        color: #337ab7;
    }
    .aksii-filter {
        height: auto;
        padding: 0;
    }
    .aksii-filter .row div {
        margin-bottom: 10px;
    }
    .message button.aksii-search {
        float: none;
        margin: 0 auto;
    }
    .messpan0 {
        margin: 0;
        text-align: center;
    }
    .del-check {
        width: 100%;
        margin: 0;
    }
    .read-but {
        width: 100%;
    }
    .add-span {
        font-size: 40px;
    }
    .actions {
        margin: 10px auto;
    }
}

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

#talkMessages {
    list-style-type: none;
}
.header {
    height: 40px;
    padding-top:10px;
    padding-bottom: 15px;
    width:100%;
    background-color: white;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 999;
}

.people-list {
    width: 260px;
    float: left;
    background: #cdcdcd;
}
.list {
    list-style: none;
}
.people-list img {
    max-width: 100px;
}
.people-list .search {
    padding: 20px;
}
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}
.people-list .fa-search {
    position: relative;
    left: -25px;
}
.people-list ul {
    padding: 20px;
}
.people-list ul li {
    padding-bottom: 20px;
}
.people-list img {
    float: left;
}
.people-list .about {
    float: left;
}
.people-list .about {
    padding-left: 8px;
    max-width: 100px;
}
.people-list .status {
    color: #92959E;
}

.chat {
    width: 100%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959E;
}
.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86BB71;
}
.chat .chat-history .other-message {
    background: #94C2ED;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.name {
    color: #5f9ea0;
}
.list > li {
    padding: 20px;
}
.list > li.current {
    background: #FFF;
}

.talkDeleteMessage {
    color: #563333;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
